@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav{
    display: flex;
    background-color: aqua;
    justify-content: space-around;
}

.logo{
    
}

.logo img{
    width: 100px;
    margin-top: 0.4rem;
}

.title{
    padding-right: 16rem;
}

.title h1{
    font-size: 1.7rem;
    margin-top: 1.3rem;
}

.sec1{
    display: block;
    margin-top: 0.5rem;
}

.head{
    width: 99%;
    height: full;
    background: rgba(0, 255, 255, 0.15);
    margin: auto;
    border-radius: 20px;
}

.htext{
    padding-left: 14.7rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.tandc{
    display: flex;
    justify-content: space-around;
    margin: 0 13rem;
}

.name p{
    padding-bottom: 0.3rem;
}

.name input{
    width: 25rem;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid aqua;
    padding-left: 0.5rem;
    font-size: 1rem;
}

.name input:hover{
    border: 1px solid cornflowerblue;
}

.name input:focus{
    outline: none;
    border: 2px solid cornflowerblue;
}

.cat p{
    padding-bottom: 0.3rem;
}

.cat select{
    width: 25rem;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid aqua;
    padding-left: 0.5rem;
    font-size: 1rem;
}

.cat select:hover{
    border: 1px solid cornflowerblue;
}

.cat select:focus{
    outline: none;
    border: 2px solid cornflowerblue;
}

.desc{
    margin-top: 1rem;
    text-align: center;
}

.desc p{
    padding-bottom: 0.3rem;
}

.desc textarea{
    width: 54rem;
    height: 10rem;
    border-radius: 5px;
    border: 1px solid aqua;
    font-size: 1rem;
    padding: 0.5rem;

}

.desc textarea:hover{
    border: 1px solid cornflowerblue;
}

.desc textarea:focus{
    outline: none;
    border: 2px solid cornflowerblue;
}

.fileandimp{
    display: flex;
    justify-content: space-around;
    margin: 0 1.7rem;
    padding-top: 0.3rem;
}

.submit{
    margin-top: 1.2rem;
    padding-bottom: 2.5rem;
    text-align: center;
}

.submit button{
    width: 54rem;
    height: 3rem;
    border-radius: 5px;
    border: none;
    background-color: aqua;
    font-size: 1rem;
    cursor: pointer;
}

.submit button:hover{
    outline: none;
    background-color: cornflowerblue;
}

.submit button:focus{
    outline: none;
    background-color: darkcyan;
}

@media only screen and (max-width: 480px) {
    .logo img {
        width: 3.5rem;
        padding-top: 0.15rem;
    }

    .title {
        padding-right: 1rem;
        padding-bottom: 1.1rem;
    }

    .title h1 {
        font-size: 0.8rem;
    }

    .sec1{
        margin-top: 0.35rem;
    }

    .head{
        width: 97%;
    }

    .htext{
        padding-left: 0;

    }

    .tandc{
        display: block;
        margin: auto;
        width: 100%;
    }

    .name{
        width: 100%;
    }

    .name input{
        width: 23rem;
    }

    .cat{
        margin-top: 0.3rem;
        width: 100%;
    }

    .cat select{
        width: 23rem;
    }

    .desc{
        text-align: left;
    }

    .desc textarea{
        width: 23rem;
    }

    .fileandimp{
        margin: auto;
    }

    .submit button{
        width: 23rem;
    }

}